# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
